body {
	background-image:url('../img/map.png');
	background-attachment: fixed;
}

.well {
	border: 2px;
	border-color: #000000;
	border-style: solid;
}

.panel {
	border: 2px;
	border-color: #000000;
	border-style: solid;	
}

.avatar {
	width:50px;
}

.knob-container {
	width:200px; 
	height:200px;
	padding: 20px;
	margin:0 auto;
	 background-color:#eeeeee; 
	 border-radius:99999px
}

.tweet {
	margin:5px; 
	padding: 5px;
}

.hidden {
	display: none;
}